
        #geradorsenha {
           
            border:  purple;
            border-width: 1px;
            border-style: solid;
            padding: 2%;
            height: 110px;

        }

        .instaladores {

            
            border: black;
            border-width: 1px;
            border-style: solid;
            padding-top: 30px;
            padding-bottom: 62px;
            padding-right: 1%;
            padding-left: 1%;           
           
        }
        
        .confEmail {

            border: black;
            border-width: 1px;
            border-style: solid;
            padding-top: 30px;
            padding-bottom: 62px;
            padding-right: 1%;
            padding-left: 1%; 

        }

        #ferramentas {

            border: black;
            border-width: 1px;
            border-style: solid;
            height: 110px;
            display: inline-block; 
            vertical-align: top;
            padding: 2%;
            padding-top: 10px;
            padding-bottom: 42px;

        }

      .telefones th, .telefones td, .telefones tr, .telefones table{
            border: 1px solid black;
            border-collapse: collapse;
            padding: 2px 5px 2px 5px;
            text-align: center;
            
        }

        #gmailConf table{
            border: 1px solid black;
            font-size: 12px;
            border-collapse: collapse;
            text-align: center;
        }
       



   
